.app-bar {
  padding: 0.5rem;
  background-color: var(--color-green-500);
  color: var(--color-grey-050);
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
}

.app-bar__buttons {
  display: flex;
  justify-content: space-evenly;
}