.jot-add {
  display: flex;
  padding: 1rem 1rem 1rem 0.5rem;
  justify-content: space-between;
}

.jot-add * + * {
  /* margin-left: 1rem; */
}

.jot-add .react-autosuggest__container {
  flex-basis: 50%;
  position: relative;
}

.jot-add .react-autosuggest__input {
  width: 100%;
}

.jot-add .react-autosuggest__suggestions-container {
  position: absolute;
}

.jot-add .react-autosuggest__suggestions-list {
  background-color: red;
}

.jot-add .react-autosuggest__suggestion--highlighted {
  color: yellow;
}

.jot-add__quantity-label {
  width: 6rem;
}

.jot-add__quantity {
  margin-left: 0.5rem;
  max-width: 3rem;
}

.jot-add__add-button {
  flex-basis: 10%;
}
