:root {
  --color-black: #000000;
  --color-white: #FFFFFF;

  --color-grey-050: #FAFAFA;
  --color-grey-100: #F5F5F5;
  --color-grey-200: #EEEEEE;
  --color-grey-300: #E0E0E0;
  --color-grey-400: #BDBDBD;
  --color-grey-500: #9E9E9E;
  --color-grey-600: #757575;
  --color-grey-700: #616161;
  --color-grey-800: #424242;
  --color-grey-900: #212121;
  --color-grey: var(--color-grey-500);

  --color-bluegrey-050: #ECEFF1;
  --color-bluegrey-100: #CFD8DC;
  --color-bluegrey-200: #B0BEC5;
  --color-bluegrey-300: #90A4AE;
  --color-bluegrey-400: #78909C;
  --color-bluegrey-500: #607D8B;
  --color-bluegrey-600: #546E7A;
  --color-bluegrey-700: #455A64;
  --color-bluegrey-800: #37474F;
  --color-bluegrey-900: #263238;
  --color-bluegrey: var(--color-bluegrey-500);
  
  --color-red-050: #ffebee;
  --color-red-100: #ffcdd2;
  --color-red-200: #ef9a9a;
  --color-red-300: #e57373;
  --color-red-400: #ef5350;
  --color-red-500: #f44336;
  --color-red-600: #e53935;
  --color-red-700: #d32f2f;
  --color-red-800: #c62828;
  --color-red-900: #b71c1c;
  --color-red: var(--color-red-500);

  --color-pink-050: #FCE4EC;
  --color-pink-100: #F8BBD0;
  --color-pink-200: #F48FB1;
  --color-pink-300: #F06292;
  --color-pink-400: #EC407A;
  --color-pink-500: #E91E63;
  --color-pink-600: #D81B60;
  --color-pink-700: #C2185B;
  --color-pink-800: #AD1457;
  --color-pink-900: #880E4F;
  --color-pink: var(--color-pink-500);

  --color-purple-050: #F3E5F5;
  --color-purple-100: #E1BEE7;
  --color-purple-200: #CE93D8;
  --color-purple-300: #BA68C8;
  --color-purple-400: #AB47BC;
  --color-purple-500: #9C27B0;
  --color-purple-600: #8E24AA;
  --color-purple-700: #7B1FA2;
  --color-purple-800: #6A1B9A;
  --color-purple-900: #4A148C;
  --color-purple: var(--color-purple-500);

  --color-violet-050: #EDE7F6;
  --color-violet-100: #D1C4E9;
  --color-violet-200: #B39DDB;
  --color-violet-300: #9575CD;
  --color-violet-400: #7E57C2;
  --color-violet-500: #673AB7;
  --color-violet-600: #5E35B1;
  --color-violet-700: #512DA8;
  --color-violet-800: #4527A0;
  --color-violet-900: #311B92;
  --color-violet: var(--color-violet-500);

  --color-indigo-050: #E8EAF6;
  --color-indigo-100: #C5CAE9;
  --color-indigo-200: #9FA8DA;
  --color-indigo-300: #7986CB;
  --color-indigo-400: #5C6BC0;
  --color-indigo-500: #3F51B5;
  --color-indigo-600: #3949AB;
  --color-indigo-700: #303F9F;
  --color-indigo-800: #283593;
  --color-indigo-900: #1A237E;
  --color-indigo: var(--color-indigo-500);

  --color-blue-050: #E3F2FD;
  --color-blue-100: #BBDEFB;
  --color-blue-200: #90CAF9;
  --color-blue-300: #64B5F6;
  --color-blue-400: #42A5F5;
  --color-blue-500: #2196F3;
  --color-blue-600: #1E88E5;
  --color-blue-700: #1976D2;
  --color-blue-800: #1565C0;
  --color-blue-900: #0D47A1;
  --color-blue: var(--color-blue-500);

  --color-lightblue-050: #E1F5FE;
  --color-lightblue-100: #B3E5FC;
  --color-lightblue-200: #81D4FA;
  --color-lightblue-300: #4FC3F7;
  --color-lightblue-400: #29B6F6;
  --color-lightblue-500: #03A9F4;
  --color-lightblue-600: #039BE5;
  --color-lightblue-700: #0288D1;
  --color-lightblue-800: #0277BD;
  --color-lightblue-900: #01579B;
  --color-lightblue: var(--color-lightblue-500);

  --color-cyan-050: #E0F7FA;
  --color-cyan-100: #B2EBF2;
  --color-cyan-200: #80DEEA;
  --color-cyan-300: #4DD0E1;
  --color-cyan-400: #26C6DA;
  --color-cyan-500: #00BCD4;
  --color-cyan-600: #00ACC1;
  --color-cyan-700: #0097A7;
  --color-cyan-800: #00838F;
  --color-cyan-900: #006064;
  --color-cyan: var(--color-cyan-500);

  --color-teal-050: #E0F2F1;
  --color-teal-100: #B2DFDB;
  --color-teal-200: #80CBC4;
  --color-teal-300: #4DB6AC;
  --color-teal-400: #26A69A;
  --color-teal-500: #009688;
  --color-teal-600: #00897B;
  --color-teal-700: #00796B;
  --color-teal-800: #00695C;
  --color-teal-900: #004D40;
  --color-teal: var(--color-teal-500);

  --color-green-050: #E8F5E9;
  --color-green-100: #C8E6C9;
  --color-green-200: #A5D6A7;
  --color-green-300: #81C784;
  --color-green-400: #66BB6A;
  --color-green-500: #4CAF50;
  --color-green-600: #43A047;
  --color-green-700: #388E3C;
  --color-green-800: #2E7D32;
  --color-green-900: #1B5E20;
  --color-green: var(--color-green-500);

  --color-lightgreen-050: #F1F8E9;
  --color-lightgreen-100: #DCEDC8;
  --color-lightgreen-200: #C5E1A5;
  --color-lightgreen-300: #AED581;
  --color-lightgreen-400: #9CCC65;
  --color-lightgreen-500: #8BC34A;
  --color-lightgreen-600: #7CB342;
  --color-lightgreen-700: #689F38;
  --color-lightgreen-800: #558B2F;
  --color-lightgreen-900: #33691E;
  --color-lightgreen: var(--color-lightgreen-500);

  --color-lime-050: #F9FBE7;
  --color-lime-100: #F0F4C3;
  --color-lime-200: #E6EE9C;
  --color-lime-300: #DCE775;
  --color-lime-400: #D4E157;
  --color-lime-500: #CDDC39;
  --color-lime-600: #C0CA33;
  --color-lime-700: #AFB42B;
  --color-lime-800: #9E9D24;
  --color-lime-900: #827717;
  --color-lime: var(--color-lime-500);

  --color-yellow-050: #FFFDE7;
  --color-yellow-100: #FFF9C4;
  --color-yellow-200: #FFF59D;
  --color-yellow-300: #FFF176;
  --color-yellow-400: #FFEE58;
  --color-yellow-500: #FFEB3B;
  --color-yellow-600: #FDD835;
  --color-yellow-700: #FBC02D;
  --color-yellow-800: #F9A825;
  --color-yellow-900: #F57F17;
  --color-yellow: var(--color-yellow-500);

  --color-amber-050: #FFF8E1;
  --color-amber-100: #FFECB3;
  --color-amber-200: #FFE082;
  --color-amber-300: #FFD54F;
  --color-amber-400: #FFCA28;
  --color-amber-500: #FFC107;
  --color-amber-600: #FFB300;
  --color-amber-700: #FFA000;
  --color-amber-800: #FF8F00;
  --color-amber-900: #FF6F00;
  --color-amber: var(--color-amber-500);

  --color-orange-050: #FFF3E0;
  --color-orange-100: #FFE0B2;
  --color-orange-200: #FFCC80;
  --color-orange-300: #FFB74D;
  --color-orange-400: #FFA726;
  --color-orange-500: #FF9800;
  --color-orange-600: #FB8C00;
  --color-orange-700: #F57C00;
  --color-orange-800: #EF6C00;
  --color-orange-900: #E65100;
  --color-orange: var(--color-orange-500);

  --color-deeporange-050: #FBE9E7;
  --color-deeporange-100: #FFCCBC;
  --color-deeporange-200: #FFAB91;
  --color-deeporange-300: #FF8A65;
  --color-deeporange-400: #FF7043;
  --color-deeporange-500: #FF5722;
  --color-deeporange-600: #F4511E;
  --color-deeporange-700: #E64A19;
  --color-deeporange-800: #D84315;
  --color-deeporange-900: #BF360C;
  --color-deeporange: var(--color-deeporange-500);

  --color-brown-050: #EFEBE9;
  --color-brown-100: #D7CCC8;
  --color-brown-200: #BCAAA4;
  --color-brown-300: #A1887F;
  --color-brown-400: #8D6E63;
  --color-brown-500: #795548;
  --color-brown-600: #6D4C41;
  --color-brown-700: #5D4037;
  --color-brown-800: #4E342E;
  --color-brown-900: #3E2723;
  --color-brown: var(--color-brown-500);
}
