.common__button {
  background-color: var(--color-grey-200) ;
  border: 1px solid var(--color-grey-400) ;
}

.common__button:hover {
  background-color: var(--color-grey-300) ;
}

.common__button:active {
  background-color: var(--color-grey-400) ;
}

.common__button--red {
  background-color: var(--color-red-300) ;
  border: 1px solid var(--color-red-600) ;
}

.common__button--red:hover {
  background-color: var(--color-red-400) ;
}

.common__button--red:active {
  background-color: var(--color-red-500) ;
}




.common__item-tile {
  padding: 1rem 1rem 1rem 0.75rem;
  border-top: 1px solid var(--color-grey-600);
}

.common__item-tile:last-of-type {
  border-bottom: 1px solid var(--color-grey-600);
}

