body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-grey-900);
  background-color: var(--color-grey-800);
}

button {
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-grey-400);
}
