.shop-list-item {
  display: flex;
  justify-content: space-between;
}

.shop-list-item__info {
  display: flex;
}

.shop-list-item__quantity {
  align-self: center;
}

.shop-list-item__quantity--picked {
  color: var(--color-grey-400);
}

.shop-list-item__name {
  margin-left: 0.5rem;
  align-self: center;
}

.shop-list-item__name--pointable {
  cursor: pointer;
}

.shop-list-item__buttons {
  display: flex;
  justify-content: flex-end;
  flex-basis: 8rem;
}

.shop-list-item__buttons > * {
  margin-left: 1.5rem;
}

.shop-list-item__button-delete {

}

.shop-list-item__name--picked {
  text-decoration: line-through;
  color: var(--color-grey-400);
}
